/* src/roots/ModalWrapper.css */

.modal {
  z-index: 100 !important;
}

/* .primary-wishlist::-webkit-scrollbar {
  display: none;
} */

/* Overlay Transitions */
.modal-overlay-enter {
  opacity: 0;
}
.modal-overlay-enter-active {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.modal-overlay-exit {
  opacity: 1;
}
.modal-overlay-exit-active {
  opacity: 0;
  transition: opacity 100ms;
}

/* Modal Transitions */
.modal-enter {
  opacity: 0;
  transform: translateY(100%);
}
.modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}
.modal-exit {
  opacity: 1;
  transform: scale(1);
}
.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.1s linear;
}

@media (min-width: 768px) {
  .modal-enter {
    opacity: 0;
    transform: scale(0.95);
  }
  .modal-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
  }
  .modal-exit {
    opacity: 1;
    transform: scale(1);
  }
  .modal-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.1s linear;
  }
}
